<h2 class="section-title">Security - Areas of Interest</h2>

<p class="p-justified"> 
    This section lists the key areas within the source code that need to be examined for identifying potential security weaknesses.
</p>
<p class="p-justified" style="margin-bottom: 30px;">
    The code reviewer should carefully examine the identified areas and review any reported code
    snippets and file paths to validate the presence of any potential vulnerabilities. The validation
    process should involve a thorough analysis of the code and its associated components to
    determine the extent of the potential security risk. Any issues identified during the validation
    process should be documented.
</p>
{% set ruleno = namespace(value=0) -%}
{% for snippet in snippets %}
    {% if snippet["sources"] %}
        <div class="src-path-wrap">
                {% set ruleno.value = ruleno.value + 1  %}
                <h3 class="keyword-block">
                    {{ruleno.value}}.<span class="keyword-ht"> Rule Title </span> : {{snippet["keyword"]}}
                    <hr />
                </h3>

                <p><b>Rule Description</b>  : {{snippet["rule_desc"]}}</p>
                <p><b>Issue Description</b> : {{snippet["issue_desc"]}}</p>
                <p><b>Developer Note</b>    : {{snippet["dev_note"]}}</p>
                <p><b>Reviewer Note</b>     : {{snippet["rev_note"]}}</p>

                <hr />
                {% for source in snippet["sources"] %}
                    <div class="source-file-block">
                        - <span class="source-ht">Source File </span> : {{source["source"]}}
                    </div>
                    {{source["code"]}}
                {% endfor %}
        </div>
    {% endif %}

{% endfor %}