<h2 class="section-title">Project Files - Areas of Interest</h2>
<p style="margin-bottom: 35px;">This section contains a list of file paths that have been identified by matching them with a predefined set of keywords. These files are typically of interest to a code reviewer, and should be examined for possible security vulnerabilities or insecure implementations.</p>
{% for filepath in filepaths %}
<div>
    <div class="keyword-block">
        [+] <span class="keyword-ht">Keyword Searched </span> : {{filepath["keyword"]}}
        <hr />
    </div>
    {% for path in filepath["paths"] %}
        <div class="source-file-block">
            - <span class="source-ht">Source File </span> : {{path}}
        </div>
    {% endfor %}
</div>
{% endfor %}