<h2 class="section-title">Parsed Paths – Areas of Interest</h2>
<p class="p-justified" style="margin-bottom: 35px;">
    This section contains a list of file paths that have been identified by matching them with a
predefined set of keywords. These files are typically of interest to a code reviewer, and should be
examined for possible security vulnerabilities or insecure implementations.
</p>
{% set ruleno = namespace(value=0) -%}
{% for filepath in filepaths_aoi %}
<div class="src-path-wrap"> 
    {% if filepath["paths"] %}
        {% set ruleno.value = ruleno.value + 1  %}
        <h3 class="keyword-block">
            {{ruleno.value}}.<span class="keyword-ht">Rule Title </span> : {{filepath["keyword"]}}
            <hr />
        </h3>
        {% for path in filepath["paths"] %}
            <div class="source-file-block">
                - <span class="source-ht">Source File </span> : {{path}}
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endfor %}