<h2 class="section-title">Identified Files Path</h2>
<p class="p-justified" >
    In this section, you’ll find a comprehensive list of project file paths that were parsed during the
    analysis. This list was generated based on the selected file types during the scanning process and
    was used to identify the areas of interest listed in the previous sections. It’s important to note that
    this list includes all the files, making it a superset of the list provided in the "Parsed Paths - Areas
    of Interest" section.
</p>

<p class="p-justified" style="margin-bottom: 35px;">
    It is still recommended for code reviewers to review this list for any potentially interesting files
    that may have been overlooked in the "Parsed Paths - Areas of Interest" section.
</p>

{% for path in filepaths %}
<div class="fpaths-wrap"> 
    - <span class="source-ht">Source File </span> : {{path}}   
</div>
{% endfor %}