{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="cover-section">
        {% include 'cover.html' %}
    </div>
    <div class="summary-section">
        {% include 'summary.html' %}
    </div>
    <div class="aoi-section">
        {% include 'aoi.html' %}
    </div>
    <div class="filepaths-section">
        {% include 'filepaths_aoi.html' %}
    </div>
    <div class="filepaths-section">
        {% include 'filepaths.html' %}
    </div>
</div>

{% endblock content %}
