<html>
    <head>
        <meta charset="utf-8">
        <title>Daksh SCRA Report</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css" integrity="sha384-uRGoCvobIqa2DtF5zJlNMlNyPcUM2bU6OEDQaI9EvCawV3V5IfT0T2yQbudSUowg" crossorigin="anonymous"/>
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js" integrity="sha384-2q+DFIIlLTBznosUgtaXkLuCL4BK1qtoz3mo1Kk3VZJjlPqmOy7UQ4RG+ggx9q+i" crossorigin="anonymous"></script>
<body>
    {% if keyword %}
    <h3><strong>[+] {{keyword}}</strong></h3>
    {% endif %}
    {% if fpath %}
    <strong>{{fpath}}</strong>
    {% endif %}
    <pre><code class="language-plsql">{{snippet}}</code></pre>
</body>
</html>